<nav class="navbar">
  <div class="navbar-container container">
    <ul class="menu-items">
      <li><a href="/maps">View Maps</a></li>
      <li><a href="/users">My Profile</a></li>
      <li><a href="/maps/new">Create Map</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
    <h1 class="logo">Wiki Maps</h1>
  </div>
</nav>
