<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Map</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>

</head>

<body>
  <h1>Create Map</h1>
  <ul id="users"></ul>
  <form id="create-map-form" action="/api/maps" method="POST">
    <div class="map-name">
      <input type="text" name="name" placeholder="Name of your map">
    </div>
    <div class="map-url">
      <input type="text" name="imgURL" placeholder="Photo URL link!">
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>

</body>

</html>
