<!DOCTYPE html>
<html lang="en">

<head>
  <title>VIEW ALL MAPS</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/view_a_map.js"></script>
</head>

<body>
   <!-- Nav Bar (fixed at top)-->
   <nav class="navbar">
    <div class="navbar-container container">
        <ul class="menu-items">
          <li><a href="/maps">View Maps</a></li>
          <li><a href="/users">My Profile</a></li>
            <li><a href="#">Create Map</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <h1 class="logo">Wiki Maps</h1>
    </div>
</nav>

<header class="head">
  <h2 class="map_title"><%= id %></h2>
  <ul id="points"></u>

</header>
</body>

</html>
