<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
   <!-- Nav Bar (fixed at top)-->
   <nav class="navbar">
    <div class="navbar-container container">
        <ul class="menu-items">
          <li><a href="/maps">View Maps</a></li>
          <li><a href="/users">My Profile</a></li>
            <li><a href="#">Create Map</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <h1 class="logo">Wiki Maps</h1>
    </div>
</nav>
<header class="head">

  <h1 id="profile-title">Users</h1>

</header>
  <div class="user-maps">
    <section>
      <h2>Favourites</h2>
      <ul id="favorites"></ul>
    </section>
    <section>
      <h2>My Maps</h2>
      <ul id="my-maps"></ul>
    </section>
  </div>
</body>

</html>
