body {
  background: rgb(210, 210, 210);
}

.head {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-title {
display: flex;
justify-content: center;

width: 100%;

}

//user profile css
.user-maps {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#maps-container {
  margin-left: 4em;
  margin-right: 4em;
}

.map-item {
  width: 100%;
  display: flex;
  align-items: center;
  border: solid;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 3em;
  padding-left: 3em;
  margin-top: 1em;

  img {
    width: 80px;
    align-items: center;
    margin-right: 2em;
  }

  .info-container {
    display: inline-flex;
    align-items: center;
  }
}

.map-name {
  margin-bottom: 0;
}
.createdBy {
  margin-top: 0;
}

.foot {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%
}

.name-creator {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
.fa-solid {
  font-size: x-large;
  color: grey;
}

.fa-solid:hover {
  color: rgb(255, 200, 0);
  cursor: pointer;
}

.fa-solid.favorited {
  color: yellow;
}

#title {
  display: flex;
  justify-content: center;
}

// view a map css

.map_title {
display: flex;
justify-content: center;
}


